// Define variables for your color scheme

// For example:
$red: #E76F51;
$blue: #2f6c84;
$yellow: #E9C46A;
$orange: #F4A261;
$green: #2A9D8F;
$gray: #0E0000;
$light-gray: #F4F4F4;
$purple: rgb(174, 68, 174);
